.my-books {
  .new-book {
    margin-bottom: 1.5rem;

    button {
      cursor: pointer;
      margin-left: 1rem;
    }
  }

  select {
    display: flex;
    margin-left: auto;
    margin-bottom: 0.5rem;
  }

  .count {
    text-align: center;
  }
}
