<div class="my-books">
  <div class="new-book">
    <input placeholder="Enter new book title" [(ngModel)]="titleValue" />

    <button (click)="onAddNewBook()">Add</button>
  </div>

  @if (store.booksCount() > 0) {
    <select [(ngModel)]="sortValue" (change)="updateSort()">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  }

  @for (book of store.sortedBooks(); track book) {
    <app-book [name]="book" (deleteBook)="onBookDelete(book)"></app-book>
  }

  <p class="count">Showing {{ store.booksCount() }} book(s)</p>
</div>
