.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tabs {
    display: flex;
    flex-direction: row;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0 1rem;

      &.active {
        text-decoration: underline;
      }

      a {
        color: black;
        text-decoration: none;
      }
    }
  }
}
